/* Шрифты для заголовков */
$engluan-font-title-text: Arial, Helvetica, sans-serif;

/* Шрифты для основного текста */
$engluan-font-main-text: 'Roboto', sans-serif;

/* Шрифты для неосновного текста */
$engluan-font-sub-text: 'Roboto', sans-serif;
