/* Основные цвета */
$engluan-color-main-black: #000000;
$engluan-color-main-white: #ffffff;
$engluan-color-main-grey: #8299a4;
$engluan-color-main-blue_dark: #143349;
$engluan-color-main-green_light: #ccff8b;

/* Вспомогательные цвета */
$engluan-color-secondary-green_dark: #14b082;
$engluan-color-secondary-grey_light: #eeefe7;

/* Цвета шрифтов */
$engluan-color-font-purple: #520052;
$engluan-color-font-black: #000000;
$engluan-color-font-white: #ffffff;
$engluan-color-font-grey_dark: #85878a;
$engluan-color-font-grey_light: #c5bdbf;
$engluan-color-font-green_light: #ccff8b;
